<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886309009536-e5pmf7huq0a8l7sl5i9028poscof1ak2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886309009536-e5pmf7huq0a8l7sl5i9028poscof1ak2</string>
	<key>API_KEY</key>
	<string>AIzaSyA4tiG0xZmn_0x0rS-dFJTl1GCOa-ih5d8</string>
	<key>GCM_SENDER_ID</key>
	<string>886309009536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>relativistic.Wuhba</string>
	<key>PROJECT_ID</key>
	<string>wuhba-cd82e</string>
	<key>STORAGE_BUCKET</key>
	<string>wuhba-cd82e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886309009536:ios:848bce8a76f3f9131ace65</string>
	<key>DATABASE_URL</key>
	<string>https://wuhba-cd82e-default-rtdb.firebaseio.com</string>
</dict>
</plist>